body{
	background-color:#CCF381;
}

h1{
	text-align:center;
	margin:auto;
	font-size:bold;
	font-family:"Courier New", monospace;
	border-style:round;
	border:hsl(0,100%,50%);
	background-color:#4831D4;
}

p .recipe{
	background-color:#4831D4;
	border:hsl(0,100%,50%);
	border-style:round;
}
